.chatbubble
	.unexpanded
		span#title Chat with Support. Admin is   
		span.label.label-info#adminStatus offline.
	.expanded
		ul.messages.clearfix
		.input
			form.form-inline#messageSupport
				.form-group
					input.form-control#newMessage(type="text" autocomplete="off" placeholder="Enter Message")
				button#mybutton.btn.btn-primary(type="button") Gui