.chatbubble {
    position: fixed;
    bottom: 0;
    right: 30px;
    transform: translateY(370px);
    transition: transform .3s ease-in-out;
}
.chatbubble.opened {
    transform: translateY(0)
}
.chatbubble .unexpanded {
    display: block;
    background-color: #e23e3e;
    padding: 10px 15px 10px;
    position: relative;
    cursor: pointer;
    width: 350px;
    border-radius: 10px 10px 0 0;
}
.chatbubble .expanded{
    width: 350px;
    background-color: #fff;
    text-align: left;
    padding: 10px;
    color: #333;
    text-shadow: none;
    font-size: 14px;
    overflow: auto;
}

.chatbubble .messages {
    height: 300px;
    list-style: none;
    margin: 0 0 50px;
    padding: 0;
		overflow-y: auto;
}
.chatbubble .messages li {
    width: 85%;
    float: left;
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    font-size: 14px;
    background: #c9f1e6;
    margin-bottom: 10px;
}
.chatbubble .messages li .sender {
    font-weight: 600;
}
.chatbubble .messages li.support {
    float: right;
    text-align: right;
    color: #fff;
    background-color: #e33d3d;
    border-radius: 5px 5px 0 5px;
}
.chatbubble .expanded .input {
    position: absolute;
    bottom: 0;
    padding: 10px;
    left: 0;
    width: 100%;
    background: #f0f0f0;
}
.chatbubble .expanded .input .form-group {
    width: 80%;
}
.chatbubble .expanded .input input {
    width: 100%;
}
.chatbubble .expanded .input button {
    width: 15%;
}